body {
	background: url('../img/background.jpg') repeat scroll 0 0 transparent;
	font-size: 11px;
}

@font-face {
  font-family: 'Delicious-Heavy';
  src: url('../font/Delicious-Heavy.otf'),
  url('../font/Chunkfive-webfont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.nav-tabs.nav-stacked > li > a {
    border: none;
    border-radius: 5px;
}

.breadcrumb {
	background-color: #03466f;
	border-radius: 0;
}

.breadcrumb a{
	color: #FFFFFF;
	text-shadow: none;
}

a {
    color: #207eff;
    text-decoration: none;
}

.content {
	margin-top: 60px;
	margin-left: 700px;
	padding-left: 30px;
}

.box-header {
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FAFAFA, #EFEFEF);
    border: 1px solid #DDDDDD;
    border-radius: 2px 2px 0 0;
    box-shadow: none;
    height: 20px;
    margin-bottom: -1px;
    overflow: hidden;
    padding: 10px;
}

.box-content {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #DDDDDD;
    border-radius: 0 0 2px 2px;
    margin-top: -1px;
    padding: 10px;
}

.table thead th {
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
  background-color: #bc6f00;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ee6b1c), to(#d25417));
  background-image: -webkit-linear-gradient(to bottom, #ee6b1c, #d25417);
  background-image:    -moz-linear-gradient(to bottom, #ee6b1c, #d25417);
  background-image:      -o-linear-gradient(to bottom, #ee6b1c, #d25417);
  background-image:         linear-gradient(to bottom, #ee6b1c, #d25417);

}

.page-header {
    border-bottom: 1px solid #EEEEEE;
    margin: 0 0 5px 0;
    padding-bottom: 9px;
	font-size: 18px;
}

.modal-layer {
	z-index: 6;
}

.container-fluid .modal {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    left: 50%;
    margin: -250px 0 0 -280px;
    outline: medium none;
    position: fixed;
    top: 50%;
    width: 560px;
    z-index: 1050;
}

table .center {
	text-align: center;
}

.table-detail {
	font-size: 12px;
}

.table-detail label, input, button, select, textarea {
    font-size: 12px;
    font-weight: normal;
    line-height: 10px;
}

.table-detail .td-label {
	text-align: left;
}

.truck-view {
	width: 430px;
	height: 250px;
	margin: 0 auto;
}

.carousel-caption {
	height: 30px;
	padding: 10px;
}

#login-box {
	margin: 100px auto;
	width: 500px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 20px;
  background-color: #FFCCFF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#ededed));
  background-image: -webkit-linear-gradient(to bottom, #FFFFFF, #ededed);
  background-image:    -moz-linear-gradient(to bottom, #FFFFFF, #ededed);
  background-image:      -o-linear-gradient(to bottom, #FFFFFF, #ededed);
  background-image:         linear-gradient(to bottom, #FFFFFF, #ededed);
}

#login-header {
  background-color: #005dac;
  font-size: 30px;
  padding: 10px 0;
}

.login-title {
  font-family: 'Titillium Web', sans-serif;
  font-size: 33px;
  text-align: center;
  margin-bottom: 20px;
}

.login-title span {
  margin-right: 20px;
  color: #929292;
}

.navbar .nav a, legend, .accordion-heading a {
    font-family: 'Titillium Web', sans-serif;
}

.body {
  margin-top: 40px;
}

.main {
  margin-left: 10px !important;
  padding: 0 10px;
  height: 100%;
}

.fixed-bar {
  height: 100%;
  padding-top:10px;
  text-align: center;
}

.accordion-body {
  background-color: #FFFFFF;
}

.accordion-group {
  margin-bottom: 10px;
}

.mini {
  font-size: 11px;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  background: #e8e8e8;
  border-radius: 4px;
  padding: 2px 5px;
  color: rgba(0,0,0, .8);
  text-shadow: 0 1px 0 #fff;
  line-height: 1.5;
  margin: 10px auto;
}

.mini:before, .mini:after {
  z-index: -1; 
  position: absolute; 
  content: "";
  bottom: 14px;
  left: 10px;
  width: 50%; 
  top: 80%;
  max-width:300px;
  background: rgba(0, 0, 0, 0.4); 
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.4);   
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(-3deg);    
  -moz-transform: rotate(-3deg);   
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-6deg);
}

.mini:after {
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(6deg);
  right: 10px;
  left: auto;
}

.accordion-heading {
  font-size: 12px;
  font-weight: bold;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#78442b), to(#5b3420));
  background-image: -webkit-linear-gradient(to bottom, #78442b, #5b3420);
  background-image:    -moz-linear-gradient(to bottom, #78442b, #5b3420);
  background-image:      -o-linear-gradient(to bottom, #78442b, #5b3420);
  background-image:         linear-gradient(to bottom, #78442b, #5b3420);
  border-radius: 6px 6px 0 0;
}

.accordion-heading a {
  color: #FFFFFF;
}

legend {
  color: #999;
}

.navbar-inner {
	background-color: #FAFAFA;
	background-image: linear-gradient(to bottom, #ffffff, #ffffff);
	background-repeat: repeat-x;
	border: 1px solid #D4D4D4;
	border-radius: 4px 4px 4px 4px;
	box-shadow: none;
	min-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
}

.navbar .brand {
    color: #2c72d0;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow: none;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover { 
	border: none;
  	font-weight: bold;
}

.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
    background-color: #FFFFFF;
}

.modal-header {
	font-family: 'Titillium Web', sans-serif;
    background-color: #E8E8E8;
	color: #FFF;
	background-color: #ee6b1c;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ee6b1c), to(#d25417));
	background-image: -webkit-linear-gradient(to bottom, #ee6b1c, #d25417);
	background-image:    -moz-linear-gradient(to bottom, #ee6b1c, #d25417);
	background-image:      -o-linear-gradient(to bottom, #ee6b1c, #d25417);
	background-image:         linear-gradient(to bottom, #ee6b1c, #d25417);
}

.table table
{
    width:100%;
}