﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<CustomModule.Models.RoleModel>" %>
<%=Html.HiddenFor(x => x.RoleName)%>
<%=Html.CheckBoxFor(x => x.Selected)%>
<%=Html.Label(Model.RoleName)%>