.t-widget, .t-input {
border: 1px solid #DDD;
background-color: #DDD;
}

.t-header, .t-grid-header 
{
    border-color: #DDD;
    background: none;
}

.t-widget table {
width: 100%;
margin-bottom: 0px;
}

.t-widget table {
border: 1px solid #DDD;
border-collapse: separate;
border-left: 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.t-widget table {
max-width: 100%;
background-color: transparent;
border-collapse: collapse;
border-spacing: 0;
}

.t-widget table thead th {
text-align: center;
vertical-align: middle;
color: white;
background-color: #BC6F00;
background-image: -webkit-gradient(linear, left top, left bottom, from(#EE6B1C), to(#D25417));
background-image: -webkit-linear-gradient(to bottom, #EE6B1C, #D25417);
background-image: -moz-linear-gradient(to bottom, #EE6B1C, #D25417);
background-image: -o-linear-gradient(to bottom, #EE6B1C, #D25417);
background-image: linear-gradient(to bottom, #EE6B1C, #D25417);
}

.t-widget .t-header, .t-widget table td {
padding: 8px;
line-height: 20px;
text-align: left;
vertical-align: top;
border-top: 1px solid #DDD;
}

.t-state-hover,.t-state-hover:hover{
background-color: #EE6B1C;
border-color: #D25417;
line-height: 20px;
}